 * { list-style:none; text-decoration:none; outline:none; border:none; padding:0%; margin:0%; font-size:12px; }
body { position:fixed; width:100%; height:100%; }

::-webkit-scrollbar { width:5px; height:0px; }
::-webkit-scrollbar-thumb { background-color: rgba(20,20,20,.5) } 

header, main, footer { position:fixed; left:0; right:0; }
header { top:0; height:60px; background-color:rgba(0,0,0,.7); z-index:101; }
main { top:60px; bottom:45px;  padding-top:7px; z-index:99; text-align:center; overflow-y:scroll; }
footer { bottom:0; height:45px; background-color:rgba(255,255,255,.4); padding-top:7px;
	box-shadow:0 -2px 7px rgba(0,0,0,.4); z-index:100; 
}

button {
	padding:7px 15px; margin:0 2%;
	border-radius:60px;
	background:linear-gradient(45deg, rgba(24,163,195,.6), rgba(93,216,173,.6));
	background:-moz-linear-gradient(45deg, rgba(24,163,195,.6), rgba(93,216,173,.6));
	background:-webkit-linear-gradient(45deg, rgba(24,163,195,.6), rgba(93,216,173,.6));
	background:-o-linear-gradient(45deg, rgba(24,163,195,.6), rgba(93,216,173,.6));
	background:-ms-linear-gradient(45deg, rgba(24,163,195,.6), rgba(93,216,173,.6));
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
	   -moz-box-shadow:0 3px 9px rgba(0,0,0,.5);
			box-shadow:0 3px 9px rgba(0,0,0,.5);
	color:rgb(255,255,255);
	cursor:pointer; font-size:16px; 
}

div.log {
	position:absolute; top:20%; bottom:0; left:0; right:0; margin:auto; 
	height:50%; width:80%; padding:5px; overflow-y:scroll;
	box-shadow: 0 7px 15px rgba(0,0,0,.5);
}
div.log > label {
	display:block; width:100%; padding:10px; text-align:left; font-size:16px;
	background-color:rgba(0,0,0,.8);
	color:rgb(255,255,255);
}
div.log > label:nth-of-type(even) {
	background-color:rgba(0,0,0,.6);
}
div.log > label > b { padding:0 10px;  color:rgb(0,128,128) }
